{% extends 'base.html' %}

{% block 'content' %}
<style>
    .accordion-header a {
        text-decoration: none;
        color: #007BFF;
    }
    .accordion-header a:hover {
        text-decoration: underline;
    }
    .card {
        margin-bottom: 10px;
    }
    .card-header {
        background-color: #f8f9fa; /* Light grey background */
    }
    .card-header .btn {
        color: #007BFF; /* Bootstrap primary color */
        font-weight: bold;
    }
    .card-body p {
        margin: 0;
    }
    .pagination {
        margin-top: 20px;
    }
    .page-item.active .page-link {
        background-color: #007BFF; /* Bootstrap primary color */
        border-color: #007BFF;
    }
    .page-link {
        color: #007BFF; /* Bootstrap primary color */
    }
</style>

<div class="container mt-5">
    <h1 class="text-center">Orders</h1>
    <div class="accordion" id="accordionExample">
        {% for order in orders %}
        <div class="card">
            <div class="card-header" id="heading{{ forloop.counter }}">
                <h2 class="mb-0">
                    <button class="btn btn-link" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{ forloop.counter }}" aria-expanded="false" aria-controls="collapse{{ forloop.counter }}">
                        {{ order }} - {{ order.get_status_display }}
                    </button>
                </h2>
            </div>
            <div id="collapse{{ forloop.counter }}" class="collapse" aria-labelledby="heading{{ forloop.counter }}" data-bs-parent="#accordionExample">
                <div class="card-body">
                    {% for order_row in order.lines.all %}
                        <p>{{ order_row }}</p>
                    {% endfor %}
                    <p><strong>Total:</strong> {{ order.total }} €</p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}