{% extends 'base.html' %}

{% block 'content' %}
<h1>Orders</h1>
<div id="accordion">
    {% for order in orders %}
    <div class="card">
        <div class="card-header">
            <a class="btn" data-bs-toggle="collapse" href="#collapse{{ forloop.counter }}">
                {{ order }} - {{ order.get_status_display }}
            </a>
        </div>
        <div id="collapse{{ forloop.counter }}" class="collapse {% if forloop.first %}show{% endif %}" data-bs-parent="#accordion">
            <div class="card-body">
                {% for order_row in order.lines.all %}
                    <p>{{ order_row }}</p>
                {% endfor %}
                <p>Total : {{ order.total }} € </p>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
