{% extends "base.html" %}

{% block title %}Password Reset{% endblock %}

{% block 'content' %}
<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header bg-primary text-white">
          <h3 class="card-title text-center">Check Your Email</h3>
        </div>
        <div class="card-body text-center">
          <p class="lead">Please check your email for the password reset link!</p>
          <p>If you don't see the email, check your spam folder or try again.</p>
          <a href="{% url 'password_reset' %}" class="btn btn-primary btn-lg mt-3">Resend Email</a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
