{% extends "base.html" %}

{% block title %}Password Reset{% endblock %}

{% block 'content' %}
<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header bg-primary text-white">
          <h3 class="card-title text-center">Reset Your Password</h3>
        </div>
        <div class="card-body">
          <form action="" method="post">
            {% csrf_token %}
            {% if form.email.errors %}
              <div class="alert alert-danger" role="alert">
                {{ form.email.errors }}
              </div>
            {% endif %}
            <div class="form-group">
              <label for="email">Please enter your email to reset the password</label>
              {{ form.email }}
              <script>
                document.getElementById("id_email").classList.add("form-control");
              </script>
            </div>
            <div class="form-group mt-4 text-center">
              <input type="submit" class="btn btn-primary btn-lg" value="Reset Password">
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
